
/* body {
    background-color: #d5bf955e;
    align-items: start;
    display: flex;
    flex-direction: column;
} */

/* .content {
    margin-block: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */


.details {
    display: block;
    margin: 20px;
    
}

.service {
    display: flex;
    margin: 30px;
    padding: 20px;
    background-color: rgba(175, 175, 175, 0.394);

}

.type {
    /* display: none; */
    margin-left: 30px;

    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}




.price {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 5px;

}

.data {
    margin: 10px;
}



.hl {
    background-color: aqua;
}

.button-ct {
    
    display: flex;
    justify-content: space-between;
    
    height: 60px;
    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
}