*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-backgrond: #d5bf955e;
    --bg-layer: rgba(0, 0, 0, 0.71);
}

body {
    background-color: var(--primary-backgrond);
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;

}

.flex-col {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.normal-width {
    width: min(90%, 1440px);
}

header {
    background-color: black;
    height: 120px;
    align-items: center;
}

.header-ct {
    height: 100%;
    justify-content: space-between;
}

.header-ct ul {
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.header-ct li {
    color: white;
    list-style: none;
    font-size: 9rem;
    color: #ffffffa1;
}

.nav {
    display: flex;
    flex-direction: row;
    padding-block: 10px;
    justify-content: space-between;
    gap: 15px;
}

.nav-item {
    background-color: #dfdfdff7;
    width: 180px;
    min-width: 110px;
    height: 35px;
    display: grid;
    border-radius: 4px;
    cursor: pointer;
    place-content: center;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    background-color: var(--bg-layer);
    color: white;
}


.hero {
    background: url(/public/assets/images/hero1.webp) center/cover;

    width: 100vw;
    height: 280px;
    justify-content: center;
    align-items: center;
}

.layer {
    background-color: rgba(0, 0, 0, 0.71);
    width: 100%;
    height: 100%;
    align-items: center;
}

main {
    align-items: center;
}


#galery-ct {
    margin-block: 20px;
}

#about-ct {
    margin-block: 20px;
    gap: 60px;
}


.about-item {
    margin-block: 20px;
    gap: 60px;
}

.title {
    width: 40%;
    display: flex;
    align-items: center;
    justify-self: start;
    line-height: 40px;
}


#img-1 {
    background: url(/public/assets/images/hairdressers.webp) center/cover;
    width: 100%;
    height: 500px;
}

#img-2 {
    background: url(/public/assets/images/cal.webp) center/cover;
    width: 280px;
    height: 280px;
    width: 100%;
    height: 500px;
}

footer {
    background-color: black;
    color: white;
    align-items: center;
    margin-top: 30px;
}

.footer-ct {
    margin-block: 20px;
    align-items: end;
    justify-content: space-between;
    height: 100px;
    
}

ul {
    height: 100%;
}

li {
    list-style: none;
    margin-block: 8px;
}

li a{text-decoration: none;color: white;}

.logo{
    position: relative;
}

.logo svg {
    fill: white;
    height: 16px;
    position: absolute;
    top: 5px;
    left: 135px;
}

#contact-ct {}

.f-item {
    margin-block: 8px;
}