<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Kérlek jelentkezz be</h1>
    <div id="content">
        <div>
            <input type="text" name="name" id="name" placeholder="Felhasználónév" value="Admin">
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Jelszó" value="admin">
        </div>
        <div>
            <button id="submit">Bejelentkezés</button>
        </div>
    </div>
    <script src="login.js"></script>
</body>
</html>